@model SocialNetworkClient.Models.MainModel




@foreach (var item in Model.PostList)
{
    <br />

    <div class="container">
        <div class="card" style="width:200px;align-content:center; background-color:gray;">
            <img class="card-img-top" src="@item.ImageLink" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">@item.FullName</h4>
                <p class="card-text">@item.Content</p> <br />
                <p class="card-text">Posted at - @item.DatePosted</p> 
                <div id=@item.PostId>
                </div>
            </div>

            @Ajax.ActionLink(linkText: "Show Comments", actionName: "GetPostComments",routeValues:item,ajaxOptions: new AjaxOptions
                {
                HttpMethod = "Post",
                UpdateTargetId = item.PostId,
                InsertionMode = InsertionMode.Replace
                })
        </div>
    </div>

    <br />
}




