@model SocialNetworkClient.Models.MainModel

@{
    ViewBag.Title = "UserSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Settings</h2>
<br />

<button class="btn btn-info">
    @Html.ActionLink("Edit Profile Details", "ShowEditDetails")
</button>
<br /><br />
<button class="btn btn-info">
    @Html.ActionLink("Change Password", "ShowChangePassword")
</button>
<br /><br />
<button class="btn btn-info">
    @Html.ActionLink("Blocked Users", "BlockedUsers", "Home")
</button>
<br /><br />
<button class="btn btn-info">
    @Html.ActionLink(linkText: "Users I'm Following", actionName: "UsersImFollowing", controllerName: "Home")
</button>
<br /><br />
<button class="btn btn-info">
    @Html.ActionLink(linkText: "Users That Are Following Me", actionName: "UsersThatFollowMe", controllerName: "Home")
</button>
<br /><br />

@if (ViewBag.ErrorMessage != null)
{
    <script type="text/javascript">
    alert("@ViewBag.ErrorMessage");
    </script>
}
@if (ViewBag.SuccessMessage != null)
{
    <script type="text/javascript">
    alert("@ViewBag.SuccessMessage");
    </script>
}