@model SocialNetworkClient.Models.MainModel

@{
    ViewBag.Title = "UserSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Settings</h2>
<br />
@Html.ActionLink("Blocked Users", "BlockedUsers") <br /><br />
@Html.ActionLink("Change Password", "ShowChangePassword") <br /><br />
@Html.ActionLink("Edit Profile Details", "ShowEditDetails") <br /><br />
@Html.ActionLink("My Follows", "MyFollows") <br /><br />
@Html.ActionLink("My Followers", "MyFollowers")

@if (ViewBag.ErrorMessage != null)
{
    <script type="text/javascript">
                alert("@ViewBag.ErrorMessage");
    </script>
}
@if (ViewBag.SuccessMessage != null)
{
    <script type="text/javascript">
                alert("@ViewBag.SuccessMessage");
    </script>
}