@model SocialNetworkClient.Models.MainModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @if (Session[SocialNetworkClient.Configs.MainConfigs.SessionFirstnameToken] != null)
    {
        using (Html.BeginForm("SearchUsers", "Home", FormMethod.Post))
        {
            @Html.EditorFor(m => m.SearchInput)
            <input type="submit" value="Search For Users" />
        }
    }

</div>
@if (ViewBag.ErrorMessage != null)
{
    <script type="text/javascript">
                alert("@ViewBag.ErrorMessage");
    </script>
}
@if (ViewBag.SuccessMessage != null)
{
    <script type="text/javascript">
                alert("@ViewBag.SuccessMessage");
    </script>
}

@if (Session[SocialNetworkClient.Configs.MainConfigs.SessionFirstnameToken] != null)
{
    @Html.Partial("AddPost", Model)

    <br />

    if (Model.PostList != null)
    {
        @Html.Partial("Posts", Model)
    }

    <br/>
}




