@model SocialNetworkClient.Models.MainModel

@{
    ViewBag.Title = "AnotherUserView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.UserToView.FullName's Profile</h2>
<br />
@if (Model.UserToView.FollowingThisUser)
{
    @Html.ActionLink(linkText: $"Unfollow {Model.UserToView.FullName}", actionName: "UnfollowUser", routeValues: new { Model.UserToView.Username }) <br />
}
else
{
    @Html.ActionLink(linkText: $"Follow {Model.UserToView.FullName}", actionName: "FollowUser", routeValues: new { Model.UserToView.Username }) <br />
}
@Html.ActionLink(linkText: $"Block {Model.UserToView.FullName}", actionName: "BlockUser", routeValues: new { Model.UserToView.Username }) <br />


@Html.Partial("Posts", Model)


@if (ViewBag.PageMessage != null)
{
    <script type="text/javascript">
                alert("@ViewBag.PageMessage");
    </script>
}