@model SocialNetworkClient.Models.MainModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoggedInUser.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedInUser.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedInUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedInUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedInUser.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedInUser.LastName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.LoggedInUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedInUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedInUser.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedInUser.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedInUser.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedInUser.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedInUser.WorkLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedInUser.WorkLocation)
        </dd>

        <dt>
            <br />
            @Html.ActionLink(linkText: "Edit Settings", actionName: "EditSettings", controllerName: "Settings")
        </dt>
    </dl>

    <div id="postList">
        @Html.Partial("Posts", Model)
    </div>


    @Ajax.ActionLink(linkText: "Load More", actionName: "LoadMoreInrofile", routeValues:Model, ajaxOptions: new AjaxOptions
    {
    HttpMethod = "Post",
    UpdateTargetId = "postList",
    InsertionMode = InsertionMode.InsertAfter
    })

</div>

<br />




