@model SocialNetworkClient.Models.MainModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Profile</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoggedInUser.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedInUser.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedInUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedInUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedInUser.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedInUser.LastName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.LoggedInUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedInUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedInUser.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedInUser.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedInUser.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedInUser.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedInUser.WorkLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedInUser.WorkLocation)
        </dd>

        <dt>
            <br />
            @Html.ActionLink("Edit Settings", "EditSettings", "Settings")
        </dt>
    </dl>
</div>

<br />

@if (Model.PostList != null)
{
    foreach (var item in Model.PostList)
    {
        <br />

        <div class="container">
            <div class="card" style="width:200px;background-color:gray; align-content:center;">
                <img class="card-img-top" src="@item.ImageLink" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">@item.FullName</h4>
                    <p class="card-text">@item.Content </p> <br/>
                    <p class="card-text"> Posted at - @item.DatePosted</p>
                    <div id=@item.PostId>
                    </div>
                </div>

                @Ajax.ActionLink(linkText: "Show Comments", actionName: "GetPostComments",routeValues:item,ajaxOptions: new AjaxOptions
                 {
                 HttpMethod = "Post",
                 UpdateTargetId = @item.PostId,
                 InsertionMode = InsertionMode.Replace
                 })
            </div>

        </div>

        <br />
    }

}


