@model SocialNetworkClient.Models.MainModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>My Profile</h2>
<div class="container">
    <div class="jumbotron">
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.LoggedInUser.Username)
                    </span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoggedInUser.Username)
                </dd>

                <dt>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.LoggedInUser.FirstName)
                    </span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoggedInUser.FirstName)
                </dd>

                <dt>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.LoggedInUser.LastName)
                    </span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoggedInUser.LastName)
                </dd>


                <dt>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.LoggedInUser.Email)
                    </span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoggedInUser.Email)
                </dd>

                <dt>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.LoggedInUser.BirthDate)
                    </span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoggedInUser.BirthDate)
                </dd>

                <dt>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.LoggedInUser.Address)
                    </span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoggedInUser.Address)
                </dd>

                <dt>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.LoggedInUser.WorkLocation)
                    </span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoggedInUser.WorkLocation)
                </dd>


                <dt>
                    <br />
                    <button class="btn btn-default">
                        @Html.ActionLink(linkText: "Edit Settings", actionName: "EditSettings", controllerName: "Settings")
                    </button>
                </dt>
            </dl>
        </div>
    </div>

    <div id="postList">
        @Html.Partial("Posts", Model)
    </div>

    <br />
    @if (Model.PostList.Count > 9)
    {
        <button class="btn btn-default">
            @Ajax.ActionLink(linkText: "Load More", actionName: "LoadMoreInrofile", routeValues:new { modelFromProfile = Model.LoggedInUser.Username } , ajaxOptions: new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "postList",
            InsertionMode = InsertionMode.InsertAfter,
        })
        </button>
    }


</div>

<br />

@*<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@




